body {
    box-sizing: border-box;
    background-color: #E4F1FE;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.app {
    text-align: center;
    font-size: 1.5em;
    margin: 50px;
}
.inputVal, .inputSub {
    font-size: 1em;
    padding: 20px;
    border: none;
}
.inputSub {
    background-color: #446CB3;
}
.result {
    margin: 20px;
}